<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <title>CRUD in Nodejs and Express js and MongoDB database:-mvc</title>
</head>
<body class="bg-info">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">SpaceLine</a>
  </nav>
  <div class="container">
    <h4></h4>
    <div class="row">
    <div class="col-md-6 offset-md" style="background-color:#fff; margin-top:25px; padding:20px;">
  {{{body}}}
    </div>
  </div>
  </div>
</body>
</html>